.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
}

/* .card {
  display: grid;
  grid-template-columns: 3 1fr;
} */

.flippable-card-container {
  height: 580px;
  width: 320px;
  perspective: 1000px;
}
/* @media (max-width: 40rem) {
    .flip {
      flex-direction: column;
      gap: 15px;
    }
    #texts p {
      font-size: 13px !important;
      padding: 0 25px !important;
    }
    #texts h3 {
      font-size: 25px;
    }
    .flippable-card-container {
      height: 580px;
      width: 280px;
      perspective: 1000px;
    }
    #card {
      padding-top: 120px;
    }
  } */

.flip-header {
  padding-top: 50px;

  text-align: center;
  color: #98e8fc;
  font-size: 28px;
}
.flip-description {
  text-align: center;
  padding-bottom: 20px;
}

.card {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(250, 227, 227, 0.8);
  transition: 1000ms;
}
.flip {
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  display: flex;
  width: 100%;
}

.front-card .span1 {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}

.card.clicked {
  transform: rotateY(180deg);
}

.front-card {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  align-items: flex-end;
  color: white;
}

.front-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 10px;
  padding-left: 15px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.back-card {
  position: absolute;
  height: 100%;
  width: 100%;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);

  background: rgb(255, 255, 255);
}
.course-overview {
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 5%;
  padding-right: 5%;
}

.back-card,
h3,
p {
  text-align: left;
  padding-bottom: 10px;
}

strong {
  font-size: 20px;

  padding-bottom: 10px;
}
.back-card h4 {
  padding-top: 20px;
  padding-bottom: 8px;
  font-size: 20px;
}

.tool {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.tool div {
  width: 20px;
}

.learn {
  font-size: 18px;
  color: rgb(32, 197, 238);
  padding-top: 15px;
  text-decoration: none;
}
.back-card h5 {
  padding-bottom: 3px;
}

.course-title {
  font-size: 15px;
}

.course-overview {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
}
