/* big screen */
@media screen and (min-width: 40em) {
  .header {
    background: linear-gradient(#25242594, #0c0a0aab), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    /* background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));; */
    /* filter: contrast(0.7); */
  }

  .header .btn {
    background: rgb(97, 208, 255);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    /* padding: 10px ; */
    text-decoration: none;

    text-decoration: none;
    height: 40px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;

    z-index: 1;
  }
  .header-top {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: #fff;
  }
  .space {
    color: #fff;
    border: 1px solid;
    width: 50%;
    margin: auto;
  }

  .header h4 {
    max-width: 100%;
    font-family: Mulish;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 176%;
    text-align: center;
    color: rgb(255, 255, 255);
    /* padding-inline: 180px; */
    padding: 50px 120px;

    /* color: #fff;
    padding: 40px 60px;
    text-align: center;
    line-height: 1.3em;
    font-size: 20px; */
  }

  .header-top img {
    width: 120px;
  }

  .text-box {
    margin: 0 auto;
    padding-inline: px;
    align-items: center;
    width: 100%;
  }

  .header p {
    color: #fff;
    padding-inline: 180px;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
  }
  /* .header-top .logo {
    width: 10px;
  } */
  .circle {
    position: absolute;
    right: 0;
    bottom: -17%;
  }
  .dotted {
    width: 100px;
    position: absolute;
    left: 0;
    bottom: -10%;
    z-index: 1;
  }
}
/* mobile */
@media screen and (max-width: 40em) {
  .header {
    min-height: 70vh;
    width: 100%;
    filter: contrast(0.7);
    /* filter: contrast(0.8); */
    background: url(../img/courses/background1.png);
    /* z-index: 1; */
  }
  .header-top {
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
  }

  .header .btn {
    background: #8fe6f1;
    color: #fff;
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    /* filter: contrast(.); */
    /* z-index: 2; */
  }

  a {
    color: #fff;
  }
  .space {
    color: #fff;
    border: 1px solid;
    width: 50%;
    margin: auto;
  }

  .header h4 {
    color: #fff;
    padding: 8vmin 50px 10px;
    text-align: center;
    line-height: 2em;
  }
  .header-top img {
    width: 100px;
  }
  .header p {
    color: #fff;
    width: 100%;
    /* padding: 10px 50px; */
    font-size: 15px;
    line-height: 30px;
    text-align: center;
  }
  .dotted {
    position: absolute;
    width: 60px;
    left: -5%;
    bottom: 1%;
  }
  .circle {
    width: 250px;
    position: absolute;
    bottom: -8%;
    right: 0%;
  }
}
